/* button {
    border-bottom-right-radius: 0.5rem;
} */
body {
    background-color: white;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 95.1vw;
    padding: 10px 25px;
    background-size: contain;
}

.arc {
    margin-top: 0px;
    font-size: 25px;
}

.archive {}

img {
    /* border-radius: 50%; */
}

.navigation {
    gap: 20px;
    display: flex;
    align-items: center;
    /* display: flex;
    justify-content: center;
    list-style: none; */
    /* justify-content: space-between; */

}

.login {
    /* display: flex;
    justify-content: right;
    margin: 0px;
    padding: 0px; */
}

/* header {
    display: inline;
} */
a {
    text-decoration: none;
    color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0px;

}

.log__bot {
    border-bottom-right-radius: 1.7rem;
    background-color: white;
    padding: 15px 20px;
    width: auto;
    height: auto;
    font-size: 13px;
    color: rgb(0 114 94);
    font-weight: lighter;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 3px rgb(0 114 94);
    margin-right: 0px;
}

.d_log__bot {
    border-bottom-right-radius: 1.7rem;
    background-color: rgb(0 114 94);
    padding: 20px;
    width: auto;
    height: auto;
    font-size: 15px;
    color: white;
    font-weight: bolder;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 3px rgb(0 114 94);
}
.amount{
    color:rgb(0 114 94);
}
.arrow{
    color:rgb(0 114 94);
}
.previous{
    /* background-color: white; */
}
.d_log__bot1 {
    /* border-bottom-right-radius: 1.7rem; */
    /* background-color: rgb(0 114 94); */
    padding: 20px;
    width: auto;
    height: auto;
    font-size: 15px;
    color:rgb(0 114 94);
    font-weight: bolder;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 3px rgb(0 114 94);
}

.main__1 {
    display: flex;
    height: 90vh;
    float: right;
}

.main__1txt {
    display: inline;
    justify-content: center;
    width: 50%;
    /* padding: 70px 40px; */
    display: grid;
    place-content: center;
    height: 80%;
}

.main__1img {
    width: 50%;
    display: grid;
    place-content: center;
}

.group_407 {
    background-size: contain;
}

.title {
    font-size: 2.5vw;
    color: rgb(0 114 94);
    font-weight: bolder;
}

.txt1 {
    font-size: 2vw;
    margin-bottom: 20px;
}

.txt2 {
    font-size: 2vw;
    font-weight: lighter;
    margin-bottom: 20px;
}

.Donate_bt {
    border-bottom-right-radius: 1.7rem;
    background-color: rgb(0 114 94);
    padding: 20px;
    width: 250px;
    height: auto;
    font-size: 15px;
    color: white;
    font-weight: bolder;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 3px rgb(0 114 94);
}

.group_407 {
    /* background-size: contain; */
}

.lrgimg {
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.archivement {
    display: flex;
    justify-content: space-between;
    font-size: 3vw;
}

.funds {
    color: rgb(0 114 94);
    padding: 0px;
    margin: 0px;
}

.thought {
    display: flex;
    justify-content: space-between;
}

.Testimony {
    font-size: 3vw;
    color: cadetblue;
    margin-bottom: 0px;
    line-height: 0%;
    font-size: 20px;
}

.w_p_s {
    font-size: 3vw;
    margin-top: 7px;
}

.d_↗ {
    align-items: center;
    justify-content: center;
}

.↗ {
    border-top-right-radius: 1.7rem;
    background-color: rgb(0 114 94);
    padding: 1px;
    width: 50px;
    height: 50px;
    font-size: 2rem;
    color: white;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    margin-top: 4.5vw;
}

.charcters {
    display: flex;
    /* justify-content: space-between; */
    height: auto;
    width: auto;
    margin-top: 0px;

}

.charcteristics {
    justify-content: baseline;
    margin: 5px;
    border: 0.1vw solid rgb(0 114 94);
    padding: 15px;
}

.donators {
    display: flex;
}

.job {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.img_407 {
    width: 50%;
}

.job_txt {
    width: 50%;
}

.water {
    color: rgb(0 114 94);
    font-weight: lighter;
}

.water_title {
    font-size: 2.5vw;
}

.water_body {}

.donation {
    border: 0.2vw solid rgb(0 114 94);
    display: flex;
    justify-content: space-between;
    padding: 10px 55px;
}

.Donate_bt {
    margin-top: 25px;
}

footer {
    background-color: rgb(199, 241, 216);
    padding: 0px;
    margin: 0px;
    display: flex;
    height: 70%;
    align-items: center;
    justify-content: space-between;
}

.fnsh_logo {
    padding-top: 10px;
}

.sec1 {
    margin-left: 10px;
}

.logo {
    margin-bottom: 30px;
    font-size: 20px;
}

.address {
    margin-bottom: 30px;
}

.nws_lttr {
    margin-bottom: 25px;
    font-size: 18px
}

.nws_mail {
    background-color: rgb(167, 236, 195);
    /* border: 0px; */
    margin-bottom: auto;
    font-size: 15px;
    border-bottom-width: 3px;
    outline: none;
    padding-bottom: 1rem;
    border: 0 solid;
}

.buttom_nav {
    display: flex;
}

.butm_nav {
    display: block;
    line-height: 2.5vw;
    margin-right: 5px;
}

.help {
    display: block;
    line-height: 2.5vw;
}

.flw_us {
    text-align: center;
}

.social_icon {
    display: inline;
}

.services {
    background-color: rgb(0 114 94);
    margin: 1px rgb(0 114 94);
    height: (100vh)/3;
    width: (100%)/3;
    padding: 10px;
    gap: 20px;

}

.lrg-services {
    /* display: flex;
    justify-content: space-between; */
    display: flex;
    /* justify-content: space-between; */
    height: auto;
    width: auto;
    margin-top: 0px;
}

.projects {
    /* border: 0.2vw solid rgb(1, 136, 53); */
    /* display: flex;
    flex-wrap: nowrap;
    justify-content: space-around; */

    /* padding: 10px 55px; */
}

.project_btn {
    color: #fff;
    border-bottom-right-radius: 1.7rem;
    background-color: rgb(0 114 94);
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.dawah_prjct {
    color: #fff;
    border-bottom-right-radius: 1.7rem;
    background-color: rgb(0 114 94);
    /* align-items: center; */
    display: block;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login {}

.dawah_head {
    color: rgb(0 114 94);
}

.d_sec1 {
    display: flex;
    justify-content: space-between;
}

.d_sec1_img {
    width: 60%;
    display: flex;
    gap: 30px;
}

.d_sec1_txt {
    width: 40%;
    line-height: 50px;
}

.d_sec1_head {
    color: rgb(0 114 94);
}

.d_sec1_paybot {
    width: 30%;
    float: right;
}

.dawah_prjct_sec1 {
    display: flex;
    justify-content: space-between;
}

.dawah_prjct_sec2 {
    display: flex;
}

.dawah_prjct_sec3 {
    display: flex;
}

.arrow {
    border-radius: 100px;
}

.dawah_arc {
    color: #fff;
    padding: 0px;
    margin: 0px;
}

.service_pge {
    margin: 5px;
    padding: 30px;
    /* height: 65vh; */
    color: #fff;
    background-color: rgb(0 114 94);
    justify-content: center;
    align-items: center;
    width: (100vw)/3;
}

.characteristics_srvs {
    display: flex;
}

.service_pge-txt_btn {
    border-bottom-right-radius: 1.7rem;
    background-color: white;
    padding: 15px 20px;
    width: auto;
    height: auto;
    font-size: 15px;
    color: rgb(0 114 94);
    font-weight: lighter;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 3px rgb(0 114 94);
    margin-right: 0px;
    border: 0;
    float: right;

}

.service_pge-txt {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    line-height: 25px;
    /* margin-top: 35vh; */
}

.contact {
    padding: 0px 25rem;
    display: flex;
    width: auto;
}

.cntc_select {
    display: inline;
}

.contact_pg {
    justify-content: center;
    text-align: center;
    line-height: 4vw;
    /* width: -50vw; */
    width: auto;
}

.contact_info {
    width: 50%;
    background-color: rgb(0 114 94);
    border-radius: 7px;
    padding: 5px white;
    color: #ffff;
    height: 80vh;
}

.cntc {
    padding-left: 25px;
}

.cntc2 {
    /* gap: 10px; */
    line-height: 70px;
    margin-top: 170px;
}

.contact_form {
    width: 50%;
    line-height: 50px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.cntc_from {
    border: 0px;
    outline: none;
    padding-bottom: 1rem;
    display: inline;
}

.cntc_select {
    justify-content: space-between;
    display: inline;
}

.cntc_btn {
    float: right;
}

.cntc_botn {
    background-color: rgb(0 114 94);
    color: #fff;
    border-radius: 5px;
    padding: 5px 15px;
    border: 0;
}

@media(max-width:650px) {
    .main__1 {
        display: block;
    }

    .navigation {
        display: none;
    }

    .main__1img {
        display: none;
    }

    .dynamic_img {
        width: fit-content;
    }

    .arc {
        font-size: xx-small;
    }

    .charcters {
        display: block;
        width: fit-content;
        height: auto;
    }

    .charcteristics {
        padding: 100px 10px;
    }

    .job {
        display: block;

    }

    .job_txt {
        /* display: block; */

    }

    .img_407 {
        display: block;
        width: 10%;
        /* height: 10%; */
    }

    footer {
        display: block;
    }

    .contact_pg {
        width: (50vw)/2;
        text-align: center;
        justify-content: center;
        line-height: 15px;

    }

    .contact {
        padding: 0px;
        /* display: flex; */

    }

    .contact_info {
        width: fit-content;
        height: auto;
    }

    .contact_form {
        width: fit-content;
        font-size: auto;
    }

    .cntc_from {
        font-size: auto;
    }

    .cntc_select {
        display: block;
    }

    .contact_head {}

    .cntc {}

    .cntc2 {
        line-height: 30px;
    }
    footer{

        margin-top: 70vh;
        text-align: center;
        justify-content: center;
        height: 80vh;
    }
    .buttom_nav{
        display: block;
    }
    .social_icon img{
        width: 5%;
    }
}